<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    {% block title %}<title>{{ err }} - timeplan.sivert.pw</title>{% endblock %}
</head>
<body>
<center>
    <h1>{{ err }}</h1>
</center>
</body>
</html>
